.input-form {
    width: 100%;
    
    padding: 0;
    margin-top: 3.5em;

    background-color: transparent;
    border: none;
    border-bottom: solid 1px #ddd;
    cursor:text;
    font-size: 1em;
    resize: none;

    transition: width 1s ease;

    @include mdscreen($screen-sm) {
        margin-top: 2em;
    }
}
.input-name {
    position: absolute;
    
    transform: translateY(-25px);
    transition: transform 1s ease;
}
.input-message {
    position: absolute;
    margin-top: 2em;
    transform: translateY(-65px);
    transition: transform 1s ease;
}
.test-bottom {
    width: 0;
    
    position: absolute;
    
    border-top: solid 2px $color-default;
    transition: width 1s ease;
    &__message {
        margin-top: -5px;
    }
}
.input-form {
    &:focus, &:valid {
        & + .test-bottom {
            width: 100%;
            & + .input-name {
                transform: translateY(-45px);
            }

            & + .input-message {
                transform: translateY(-95px);
            }
        }
    }
}
