.menu {
    height: 100vh;
    width: 500px;
    background-color: #585858;
    position: fixed;
    top: 0;
    right: -500px;
    color: white;
    padding: 2.75em;
    font-size: 1.4em;   
    transition: transform .7s ease;
    
    &__title {
        font-weight: 900;
        letter-spacing: 5px;
        margin-bottom: 1em;
    }
    
    &__list {
        
        &__item {
            padding: 1.7em 0;
            border-bottom: 1px solid rgba(161, 161, 161, 0.4);
        }
    }
}

#menu-ico:checked ~ .menu{
    transform: translateX(calc(-500px));
}

// @keyframes slider-menu {
//     // from{transform: translateX(calc(500px));}
//     to {transform: translateX(calc(-500px));}
// }