.hexagon {
  top: 70px;
	position: relative;
  margin: 0 auto;
    
  transform: translateX(0%);
  color: white;

  animation: move 1.5s ease-out alternate forwards;

  @include mdscreen ($screen-xs) {
    width: 100px;
  }
}

#Layer_1 {
  animation: rotate 1.2s linear alternate forwards;
}

.header {
  &__title {
    margin-top: 3em;
    font-size: 3em;

    @include mdscreen($screen-lg) {
      font-size: 2.5em;
    }
  
    @include mdscreen($screen-sm) {
      font-size: 1.5em;
      margin-top: 4em;
      text-align: center;
    }
  }
}

path {
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-width: 1;
  
  animation: borda 3s linear alternate 1 2s;
}

.diamond {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 8s linear alternate 1 1.4s forwards, brilho 1s 2.5s linear infinite;
}

//              keyframes
//----------------------------------------------
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes rotate {
  0%   {transform: rotate(50deg) scale(.2, .2);}
  25%  {transform: rotate(360deg) scale(.4, .4);}
  50%  {transform: rotate(500deg) scale(.6, .6);}
  75%  {transform: rotate(620deg) scale(.8, .8);}
  100% {transform: rotate(720deg) scale(1.1, 1.1) translateX(calc(50% - 75px));}
}

@keyframes move {
  to {transform: translateX(calc(50% - 75px));}
}

@keyframes brilho {
  0% {
    stroke-width: 1;
  }
  50% {
    stroke-width: 1.7;
  }
  100% {
    stroke-width: 1;
  }
}




